body
{
    background-color: #1B1B1B;
    color: white;
}

.banner
{
    background-color: #555555;
    width: 800px;
    height: 140px;
    color: black;
}
.lowercase
{
    font-size: 60px;
}
.uppercase
{
    font-size: 120px;
}
.body
{
    background-color: #555555;
    width: 780px;
    height: 800px;
    padding: 10px;
    margin-top: 10px;
}